.main{
    width:1170px;
    height:500px;
    color: white;
    background-image: url('port1.jpg');
    background-repeat:no-repeat ;
    background-size: 100% 100%;
    background: cover;
}
.a{
    width:1100px;
    height:150px;
}
.b{
    width:500px;
    height:350px;
    float:left;
}
#pic1{
    width: 220px;
    height:240px;
    border-radius: 50%;
    margin-left: 50%;
    }
.c{
    width:300px;
    height:350px;
    float: left;
}
.d{
    padding-top: 10%;
}
.space{
    width: 1100px;
    height: 150px;
}
#button{
    text-decoration: none;
}
button{
    background-color: #646872;
    border-radius: 12px;
    border: none;
    padding: 15px;
    font-size: 15px;
    color: wheat;
    text-align: center;
}
.space1{
    width: 1100px;
    height: 350px;
}
.pic2{
    width: 300px;
    height:350px;
    rotate: left;
}
#about{
    width:800px;
    height:350px;
    float: left;
}
h1,h2{
    font-family: 'Courier New', Courier, monospace;
}
#id1{
    padding-left: 5%;      
    color: #0f0f0f;
}
.space11{
    width: 1100px;
    height: 350px;
    background-color: #3b3e44;
    padding: 5%;
    color:white;
}
progress{
    width: 380px;
    height: 20px;
    border: 2px solid black;
}
progress::-webkit-progress-value{
    background-color: rgb(41, 196, 53);
}
progress::-webkit-progress-value{
    background-color: wheat;
}
.f{
    width:400px;
    height:300px;
    float: left;
}
input[type=text]{
    width: 70%;
    height: 15%;
    border-radius: 10px;
    border: none;
}
textarea{
    width: 60%;
  height: 100px;
  border-radius: 4px;
}
i {
    font-size: 25px;
}
.final{
    width: 350px;
    height: 300px;
    border-radius: 5%;
    padding-left: 15%;
}